<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" enctype="multipart/form-data" method="post">
        <!-- // enctype="multipart/form-data" ----=> To edit -->

        <input type="file" name="image" id="">

        <input type="hidden" name="user_id" value="<%= user._id  %>"> <br>

        <input type="text" name="name" value="<%= user.name  %>" placeholder="Enter Name" required id="">
        <br>
        <input type="email" name="email" value="<%= user.email  %>" placeholder="Enter Email" required id="">
        <br>
        <input type="text" name="mno" value="<%= user.mobile  %>" placeholder="Enter Mobile" required id="">

        <br>
        <input type="submit" value="Update Profile">

    </form>
</body>
</html>